<<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listar</title>
</head>
<body>
<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
		    <a class="navbar-brand" href="#">Fuctura</a>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" aria-current="page" href="#">Home</a>
		        <a class="nav-link" href="/cadastrar">Cadastrar</a>
		        <a class="nav-link" href="/listar">Listar</a>
                <a class="nav-link" href="/atualizar">Atualizar</a>
                <a class="nav-link" href="/excluir">Excluir</a>
		      </div>
		    </div>
		  </div>
		</nav>
	</div>
</body>
</html>